/* ============ First we have to add some configuration for all styling   ============ */
/*
If we use star (*) to select that  mean we're selecting all the elements to add this styling
note: we can override to this global styling
*/

@import url("./index.css");
/*============= My Variables ================ */
:root{
    --navBarColor:#1C262F;
    --udacityColor:#02B3E4;
    --cardColor : rgb(245, 245, 245);

}



/*======== Start of Navbar =========== */

nav {
  background-color:var(--navBarColor);
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  display: flex;
  float: right;
  margin-right: 20px;
}
nav ul li {
  margin: 0 5px;
  line-height: 80px;
}

nav ul li a {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

a:hover {
  color: crimson;
  transition: 0.5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;

}

/*======== End of Navbar =========== */

/*=================== Start of Body ================== */
.container{
    display: grid;
    grid:  'login title search'
           'card card card'
           'footer footer footer'
    ;

    width: 100%;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
    padding: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.login{
    grid-area: login;

}
.title{
    color: crimson;
    font-size:20px ;
    grid-area: title;
}

.search{
    grid-area: search;


}

.card{
    width: 400px;
    height: 430px;
    padding: 20px;
    background-color: var(--cardColor);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card h3{
text-align: start;
color: #2c3e50;
font-size: 20px;
}
.card h5{
    font-size: 15px;
    color:crimson;
    text-align: left;
    font-weight: bold;
}
.card p{
    color: black;
    text-align: start;
    font-size: 20px;
}
.img{
    margin-top: 10px;
    width: 100%;
   border-radius: 10px;
}

.tag{
    color: blue;
    text-decoration: underline;
}








/*=================== End of Body ================== */


/*================= Start of Footer ================= */
.footer{
    height: 60px;
    line-height: 60px;
    width: 100%;
    background-color: var(--navBarColor);
    color: var(--udacityColor);
    text-align: center;
}  
.footer h2::before{
    content: '\00a9';
    
}

/*================= End of Footer ================= */



/*================ Responsive Code ================ */
@media (max-width:952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    .container{
        grid:  'login'
         'title' 
         'search'
        'card'
        'footer'
 ;
        grid-template-columns: repeat(1,1fr);

    }
    .card{
        width: 350px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: flex;
    }

    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background:#2c3e50 ;
        top: 80px;
        left:-100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }

  
   
    
}