/* ============ First we have to add some configuration for all styling   ============ */
/*
If we use star (*) to select that  mean we're selecting all the elements to add this styling
note: we can override to this global styling
*/

/*========== Here import our global font ================= */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

/*============= My Variables ================ */
:root{
    --navBarColor:#1C262F;
    --udacityColor:#02B3E4;
    --cardColor : rgb(245, 245, 245);

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
  }
